.nav-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: -14px;
  margin-right: -14px;
}

.nav-actions__link {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 14px;
  position: relative;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 10px;
      background-color: $color-black;
      right: 0;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      text-decoration: underline;
    }
  }
}
